<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoToFaculty</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <div class="container">
    <header>
        <h1>Do jakiego wydziału Politechniki Śląskiej należysz?</h1>
    </header>
    <main>
        <section id="question-section">
            <p class="question">Jak reagujesz, gdy pojawia się trudne wyzwanie?</p>
            <textarea id="question1" class="question-textarea" placeholder="Zadaj pytanie..."></textarea>
            <p class="question">W jakim miejscu najchętniej spędziłbyś/spędziłabyś wakacje?</p>
            <textarea id="question2" class="question-textarea" placeholder="Zadaj pytanie..."></textarea>
            <p class="question">Co cenisz najbardziej w ludziach, których masz blisko siebie?</p>
            <textarea id="question3" class="question-textarea" placeholder="Zadaj pytanie..."></textarea>
            <p class="question">Masz do dyspozycji jeden dzień wolny od obowiązków, co robisz?</p>
            <textarea id="question4" class="question-textarea" placeholder="Zadaj pytanie..."></textarea>
            <p class="question">Jaka jest twoja pierwsza reakcja w obliczu konfliktu?</p>
            <textarea id="question5" class="question-textarea" placeholder="Zadaj pytanie..."></textarea>
            <button id="submit-btn" onclick="predictText()">Dowiedz się do jakiego wydziału należysz</button>
        </section>
        <div id="loading-indicator" class="hidden">Przetwarzanie...</div>
        <div id="error-message" class="hidden"></div>
    </main>
    <footer>
        <p>&copy; 2025 GoToFaculty</p>
    </footer>
    </div>
</body>
</html>